.CommentFilePreview
  display block
  img
    display block
    margin auto

.timeline__comment:hover .CommentFilePreview
  margin-inline-start 25px
.feedItem__publication:hover .CommentFilePreview
  margin 0 auto
