@import '../../../css/Variable.styl'

.noHoverListItem
  display flex
  justify-content space-between
  background-color offWhite
  height listItemHeight
  margin 0 standardSpacing
  align-items center
  padding standardSpacing
