@import '../../css/Variable.styl'

.badge
  background-color grey-hover
  border-radius standardBorderRadius
  color lightDarkGrey
  display inline-block
  font-family monospace
  font-size metadataFontSize
  margin 0 textSpacing
  padding 4px
