@import '../../css/Variable.styl'

.timedEvent
  font-size metadataFontSize
  white-space nowrap
  display flex
  flex-direction column
  color darkGrey2
  &__top.btn
    padding 0
    margin 0
    font-size metadataFontSize
    color darkGrey2
    &::after
      display none
    &:hover
      text-decoration underline
      color fontColor
    &Contents
      text-overflow ellipsis
      overflow hidden
  &__bottom
    overflow hidden
    display flex
    flex-direction row
    max-width 100%
  &__author
    overflow hidden
    font-weight bold
    text-overflow ellipsis
    color darkGrey2
    &:hover
      color fontColor
  & .dropdownMenuItem
    cursor auto
    border-bottom 1px solid lightGrey1
    align-items flex-end
    & .timedEvent
      margin 0
    &:hover
      background-color offWhite

@media (max-width max-sm)
  .rootTimedEvent__operation
      display none
  .timedEvent
    &__bottom
      max-width 100%
